# development variable directories

.vs
public/
node_modules/
.Trash-1000
yarn.lock
package-lock.json
npm-shrinkwrap.json

# site
# could not be commited, it is pulling from external github repositorie
.jekyll-metadata
_site/

_i18n/pt-br/_posts/cases
_i18n/en/_posts/cases

_i18n/pt-br/_posts/documentation/products
_i18n/en/_posts/documentation/products

_i18n/pt-br/pages/docs/documentation/products
_i18n/en/pages/docs/documentation/products

backend/api/algolia
static/images/uploads/doc

#_config.yml
#images/
#!src/images
# PROTECTING TO NOT MODIFIED
#_config.yml

# IDEs metadata

.project
nbproject
sftp-config.json


# temp files

~*
._*
*~

npm-debug.log

*.swp
*.swo

.DS_Store
./**/*/.DS_Store
