$background:    #1E1E1E;
$background-light: #FAFAFA;
$highlight:     #DF6D2E;
$alternate:     #646464;
$text:          #646464;
$light_text:    #C8C8C8;

$time:          200ms;

$font-family: 'Roboto', Helvetica, Arial, sans-serif;
$roboto: $font-family;

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body{
    color: $text;
    font-family: $font-family;
    // font-size: 16px;

    // &.body-docs{
    //     .js-off-canvas-overlay{
    //         background: rgba(0,0,0,0.05);
    //     }
    // }
}

::selection {
    color: #FFF;
    background: #F47929;
}

.container{
    padding: 0 20px;
    position: relative;
    width: 100%;
}

.content-wrapper{
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
    z-index: 0;
}

.site-main{
    position: relative;
    z-index: 0;

    @include breakpoint(medium){
        min-height: calc(100vh - 275px);
    }
}

.links-list{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    overflow: auto;

    @include breakpoint(small) {
        justify-content: flex-start;
        margin: 40px 0 20px;
    }

    @include breakpoint(large) {
       margin: 0;
        justify-content: flex-end;
    }

    &.tabs{
        background: transparent;
        border: 0;

        .tabs-title{
            float: none;

            &.is-active a{
                color: $highlight;

                &::before{
                    transform: scaleX(1);
                }
            }

            a{
                font-size: 1rem;
                padding: 0 0 15px;

                &:focus,
                &[aria-selected='true']{
                    background: transparent;
                }
            }
        }
    }

    > li + li{
        margin-left: 5vw;

        @include breakpoint(medium){
            margin-left: 40px;
        }
    }

    > li > a{
        color: #FFF;
        display: block;
        padding-right: 0;
        padding-left: 0;
        position: relative;
        transition: color $time;
        white-space: nowrap;

        &::before{
            background: #DF6D2E;
            content: '';
            position: absolute;
            bottom: -12px;
            left: 0;
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: transform $time;
            width: 100%;
            height: 2px;
        }

        &:hover, &.is-active{
            color: #DF6D2E;

            &::before{
                transform: scaleX(1);
            }
        }
    }

    > li:last-child a{
        margin: initial;
    }
}

.tabs-content{
    background: transparent;
    border: 0;
}

.tabs-panel{
    padding: 0;
}

.highlight{
    color: $highlight;
}

.button{
    background: $highlight;
    color: #fff;
    border-radius: 2px;
    transition: all $time;

    &.primary{
        color: #fff !important;
    }

    & + .button{
        margin-left: 20px;
    }
}


.button,
.btn {
    line-height: 40px;
    border-radius: 4px;
    font-weight: map-get($font-weight, 'regular');
    font-size: $font-size-text-small;
    line-height: 19px;
    padding: 10px 17px;
    display: inline-block;
    -webkit-transition: all .150s ease-in-out;
    -moz-transition: all .150s ease-in-out;
    -o-transition: all .150s ease-in-out;
    -ms-transition: all .150s ease-in-out;
    transition: all .150s ease-in-out;

    &-brand {
        border: solid 1px $color-primary;
        color: $color-white;
        background-color: $color-primary;

        &:hover {
            color: $color-white;
            background-color: $color-on-primary;
        }
    }

    &-secondary {
        border: solid 1px $color-primary;
        color: $color-primary;
        background-color: transparent;

        &:hover {
            background: $color-primary-Alpha;
            color: $color-primary;
            opacity: 1;
        };
    }

    // old CSS
    &.primary{
        color: #fff !important;
    }

    & + .button{
        margin-left: 20px;
    }
}

.title{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;

    @include breakpoint(medium){
        font-size: 3rem;
        text-align: left;
    }

    &::after{
        color: #F3652B;
        content: '_';
        padding-left: .1em
    }
}

.arrow-link{
    color: $highlight;

    &::after{
        content: '▶';
        font-size: .7em;
        margin-left: .7em;
    }
}

.page-header{
    padding-top: 1px;

    .main-title{
        color: #283741;
        font-size: 35px;
        font-weight: normal;
    }

    .title-wrapper{
        background: $background-light;
        margin-bottom: 1px;
        padding-top: 33px;
        padding-bottom: 31px;
    }

    .menu-wrapper{
        background: rgba($background-light, .5);

        &.is-stuck{
            background: rgba($background-light, .7);
            z-index: 100;
        }
    }

    .local-menu{
        justify-content: flex-start;

        a{
            line-height: 50px;
            padding: 0;

            &::before{
                height: 1px;
            }
        }
    }
}

.page-footer{
    background: linear-gradient(315deg, #283741 0%, #1D2429 49.83%, #1E1E1E 100%);
    color: #fff;
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;

    @include breakpoint(medium){
        text-align: left;
    }

    .footer-title{
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: .25em;
        text-transform: uppercase;

        @include breakpoint(medium){
            font-size: 40px;
        }
    }

    .list-simple{
        @include breakpoint(large){
            columns: 2;
        }
    }

    .ctas{
        display: flex;
        justify-content: center;
        margin-top: 30px;

        @include breakpoint(medium){
            align-items: center;
        }
    }

    &.work{
        .info{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 30px;
        }
        .footer-title{
            font-weight: normal;
            margin: 0;
            text-transform: none;
            @media screen and(max-width:640px) {
                width: 100%;
                font-size: 32px;
                margin-bottom: 15px;
            }
        }
        .ctas{
            justify-content: flex-start;
            margin: 0;
            padding: 0 30px;
            @media screen and(max-width:640px) {
                justify-content: center;
            }
        }
        .button{
            margin: 0;
        }
    }
}

.list-simple{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        margin-bottom: .4em;
        padding-left: 1em;
        text-indent: -.7em;

        &::before{
            color: $highlight;
            content: "●";
            font-size: .8em;
            margin-right: .6em;
        }
    }
}

.p-left{
    @include breakpoint(medium){
        padding-left: 40px;
    }
}

.p-right{
    @include breakpoint(medium){
        padding-right: 40px;
    }
}

.site-footer .links-list{
    li.list-lang{
        min-width: 116px;
        position: relative;
        z-index: 10;
        height: 40px;
    }
}

.change-wrapper{
    position: absolute;

    &:hover{
        height: 165px;

        .lang-list{
            display: block;
            border-top: solid 1px $color-primary;
        }

        .change-lang-button{
            background: #646464;

            &::after{
                position: absolute;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: none;
                border-bottom: 5px solid #fff;
            }
        }
    }
}
.change-lang-button{
    display: block;
    min-width: 116px;
    text-align: right;
    border-radius: 4px;
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    color:#FFF !important;
    position: relative;

    &::after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        position: absolute;
        top: 18px;
        right: 10px;
    }
    &:hover{
        background: #646464;
        &::after{
            position: absolute;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: none;
            border-bottom: 5px solid #fff;
        }
    }
}

.links-list .lang-list{
    background:#FFF;
    border-radius: 2px;
    list-style: none;
    position: absolute;
    top: 46px;
    right: 0;
    display: none;
    width: 100%;
    margin-left: 1px;

    li{
        padding: 10px 12px;
        margin-left: 0 !important;

        &:nth-child(even){
            background:#F7F7F7;
        }

        a{
            font-size: 14px;
            color: #646464 !important;
            display: block;
        }
    }
}
