*.yml @aziontech/marketing
CODEOWNERS @aziontech/marketing

*.html @aziontech/product-marketing-documentation @aziontech/product-management @aziontech/product-marketing-copywriters
*.md @aziontech/product-marketing-documentation @aziontech/product-management @aziontech/product-marketing-copywriters
