*.yml 		@aziontech/marketing
CODEOWNERS 	@aziontech/marketing

*.html 		@aziontech/product-marketing-documentation @aziontech/product-management 
*.md 		@aziontech/product-marketing-documentation @aziontech/product-management 