.search {
    width:100%;
    display:none;
    background: $color-secondary;
    padding: 19px 16px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    @include breakpoint(small)  { max-width: 100%; left: 0; }
    @include breakpoint(medium) { max-width: calc(100% - 340px); left: 160px; }
    @include breakpoint(large)  { max-width: calc(100% - 446px); left: 180px; }

    .tipue_search_spinner { display: none; }

    #tipue_search_results_count {
        color: #AAB0AA;
        font-size: 12px;
        padding: 20px 20px 0px;
    }

    #tipue_search_content {
        width: 100%;
        max-width: calc(100% - 30px);
        max-height: 70vh;
        background: $color-white;
        overflow-y: scroll;
        position: absolute;
        top: 46px;
        left: 14px;
        padding-top: 0;
        border-radius: 4px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.09);

        .tipue_search_content_title {
            padding: 0 15px;
            margin-top:0;

            a {
                color: $color-secondary;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;

                &:hover { color: #F47928; }
            }
        }

        .tipue_search_content_text {
            padding: 0 20px 10px;
            border-bottom: 1px solid #EAEAEA;
            font-size: 14px;
            color: #646464;
            font-weight: normal;

            .tipue_search_content_bold{ font-weight: 500; }
        }

        nav { display: none; }

        .search-show-more{
            display: block;
            width: 100%;
            color: #F47928;
            font-size: 14px;
            padding: 10px 0 ;
            text-align: center;

            &:hover{
                font-weight: 500;
            }
        }

        #tipue_search_warning {
            padding: 10px 20px;
            margin: 0;
        }
    }

    form {
        display: block;

        .tipue_search_left {
            float: none;
            padding: 0;
            margin: 0 auto;
            position: relative;

            .magnifier {
                position: absolute;
                top: 0px;
            }

            .close-search{
                position: absolute;
                right: 5px;
                top: 0;
            }

            #tipue_search_input {
                max-width: 100%;
                height: 22px;
                color: $color-white;
                background: none;
                border: none;
                border-bottom: 1px solid $color-white;
                font-size: 12px;
                padding: 0 15px 3px 25px;
            }
        }
    }
}
