@import "../_common-shared";
@include foundation-grid;
@include foundation-table;
@import "_sidebar";
@import "../template/_header-docs";
@import "../template/_mobile-menu-docs";
@import "../template/markdown";
@import "../template/breadcrumbs";

.dev-details{
    display: flex;

    .row-docs{
        max-width: 100%;

        .large-2{
            width: 270px;
            padding: 0;
            margin-left: -51px;
            border-right: 1px solid #EBEBEB;
            @media screen and(max-width:1024px) {
                display: none;
            }
        }
        @media print, screen and (min-width: 64em){
            .large-pull-10 {
                position: relative;
                left: calc(270px - 100%);
            }
            .large-10 {
                width: calc(100% - 270px);
            }

            .large-push-2{
                left: calc(100% - (100% - 269px));
                padding-left: 0;
            }
        }

        .medium-9{
            @media screen and(max-width:1024px) {
                width: 100%;
                left: 0;
            }
        }

        .content-container{
            max-width: 880px;
            padding-left: 75px;
            padding-bottom: 75px;
            position: relative;
            border-left: 1px solid #EBEBEB;
            @media screen and(max-width:1156px){
                padding-left: 70px;
            }
            @media screen and(max-width:1024px) {
                width: 100%;
                padding-left: 0px;
                border-left: none;
            }

            @media screen and(max-width:1023px) {
                margin: 0 auto;
                padding-bottom: 30px;
            }

            @media screen and(max-width:660px) {
                padding-left: 80px;
            }

            @media screen and(max-width:639px) {
                padding-left: 0;

            }
        }
    }
}
