// Azion Typography Sass FILE
//
// Here you will find font-face, default configuration of h*, p, etc
// Made by Azion Marketing
//
// Figma URL with the new concepts:
// https://www.figma.com/file/UB8VMDIfC5WK9Tq9q37p8z/New-Concepts?node-id=2338%3A5675
@import  'typography-font';
$font-weight: (
    'light': 300,
    'regular': 400,
    'medium': 500,
    'medium-bold': 600,
    'bold': 700,
);
* {
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 100%; // browser deafult, basing 16px
}
a {
    outline: 0;
    color: $text-link;
    text-decoration: none;
    &:visited,
    &:active,
    &:focus,
    &:hover {
        color: $text-link-variant;
        outline: 0;
    }
    &:hover {
        cursor: pointer;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text-dark;
    font-weight: map-get($font-weight, 'regular');
    padding-top: 0;
    margin-top: 0;
    letter-spacing: -0.001em;
    span {
        line-height: 120%;
        border: solid 1px $color-primary;
        display: inline-block;
        border-radius: 100px;
        padding: 0 0.75rem;
    }
}
h1 {
    margin-bottom: 2rem;
    line-height: 130%;
    font-size: #{"max(min(4.5vw, 3rem), 2rem)"};
    @include media-breakpoint-up("lg") {
        line-height: 140%;
        font-size: #{"max(min(2.875vw, 3.125rem), 1.5rem)"};
    }
    @include media-breakpoint-up("max") {
        font-size: #{"max(min(2.875vw, 3.75rem), 1.5rem)"};
    }
}
h2 {
    margin-bottom: #{rem(24)};
    line-height: 140%;
    font-size: clamp(#{rem(24)}, 3.125vw, #{rem(60)});
}
h3 {
    margin-bottom: #{rem(16)};
    line-height: 140%;
    font-size: clamp(#{rem(20)}, 2.292vw, #{rem(44)});
}
h4 {
    margin-bottom: #{rem(16)};
    line-height: 140%;
    font-size: clamp(#{rem(18)}, 1.875vw, #{rem(36)});
}
h5 {
    margin-bottom: #{rem(16)};
    line-height: 160%;
    font-size: clamp(#{rem(16)}, 1.458vw, #{rem(28)});
    font-weight: map-get($font-weight, 'medium');
}
h6 {
    margin-bottom: #{rem(16)};
    line-height: 150%;
    font-size: clamp(#{rem(14)}, 0.938vw, #{rem(18)});
    font-weight: map-get($font-weight, 'medium');
}
b,
strong {
    font-weight: map-get($font-weight, 'medium');
}
big {
    font-size: #{"max(min(1.875vw, 1.5rem), 1.25rem)"};
}
p {
    color: $text;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 180%;
    letter-spacing: -0.001em;
}
p,
ul li {
    font-size: clamp(#{rem(16)}, 1.563vw, #{rem(20)});
}
li {
    line-height: 180%;
    color: $text;
}
.bd_sub {
    letter-spacing: 50%;
    font-size: #{"max(min(1.250vw, 1.250rem), 0.75rem)"};
    color-: $color-primary;
    a {
        color: $color-primary;
        &:active,
        &:hover {
            color: $color-primary-variant;
        }
    }
}
blockquote,
.sm_text {
    letter-spacing: -0.001em;
    font-size: #{"max(min(1.250vw, 1.250rem), 0.75rem)"};
}
