h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @include breakpoint(large up) {
    font-weight: 400;
  }
}

.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.title-bar {
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.3);

  .title-bar-right {
    flex: 2 1 0px;
  } 

  .title-bar-title {
    font-weight: 800;
  }
} 

footer{
  flex: none !important;
} 

.full-content{
  display: flex;
  min-height: calc(100vh - 105px);
  flex-direction: column;
}

.copy-symbol{
  font-size: 15px;
  margin-top: -15px;
  position: absolute;
   margin-left: -4px;
  @media screen and (max-width: 920px){
    font-size: 12px;
    margin-top: 0px;
  }
}

.row-what-we-do .copy-symbol{
  margin-left: -3px;
  font-size: 11px;
  margin-top: -4px;
}
.home .row-move-edge .copy-symbol{
  @media screen and (max-width: 420px){
    margin-left: 0px;
  }
}

 .why-azion .row-move-edge .copy-symbol{
  margin-top:0;
  margin-left: 0px;
  @media screen and (max-width: 1030px){
    margin-top: -10px;    
  }
}
$source_code : 'Source Code Pro', monospace;