.azfooter {
    background-color: $bg-dark;
    padding: 2.5rem 0 1.5rem;
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    .row {
        margin: 0;
        max-width: 100%;
    }
    .info-content {
        .highlight {
            color: $color-primary;
        }
        p, a {
            font-size: 1rem;
            line-height: 1.5rem;
            margin: 0;
            color: $text-super-light;
        }
        .azion-technologies {
            display: inline-block;
            margin-bottom: 1.2rem;
        }
    }
    .links-content {
        @include media-breakpoint-up('md') {
            text-align: right;
        }
        a {
            margin-left: 1rem;
            color: $text-super-light;
            &:hover {
                color: $color-primary;
            }
        }
        .group-link {
            @include media-breakpoint-up('sm') {
                display: none;
            }
            @include media-breakpoint-up('md') {
                display: block;
            }
        }
    }
    .copyright-content {
        p {
            text-align: left;
            margin: 0;
            font-size: 0.75rem;
            line-height: 1.25rem;
            @include media-breakpoint-up('md') {
                text-align: right;
            }
        }
    }
    p.select-lang,
    .select-lang {
        color: $color-gray-600;
        margin-top: 1rem;
        font-size: rem(14);
        a {
            font-size: rem(14);
            margin: 0;
            color: $text-super-light;
            &:first-child {
                @include media-breakpoint-up('sm') {
                   margin-left: 1rem;
                }
                @include media-breakpoint-up('md') {
                   margin-left: 0.5rem;
                }
                @include media-breakpoint-up('lg') {
                   margin-left: 1rem;
                }
            }
            &:last-child {
                padding: 0;
                &:after {
                    content: '';
                    padding: 0;
                }
            }

            &:after {
                color: $color-gray-600;
                content: '|';;
                @include media-breakpoint-up('sm') {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                @include media-breakpoint-up('md') {
                   padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }
                @include media-breakpoint-up('lg') {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }

            &:hover {
                &:after {
                    color: $color-gray-600;
                }
            }
        }
    }
}
.social-network-azlist {
    padding: 0;
    display: flex;
    list-style: none;
    margin-bottom: 1rem;
    @include media-breakpoint-up('sm') {
        margin-top: 1rem;
    }
    @include media-breakpoint-up('md') {
        margin-top: 2px;
        margin-bottom: 0;
    }
    @include media-breakpoint-up('lg') {
        margin: 0;
    }
    li {
        margin: 0 0.5rem;
        position: relative;
        overflow: hidden;
        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
    .icon,
    a {
        display: block;
        svg {
            fill: $text-super-light;
        }
        &:hover {
            svg {
                fill: $color-primary;
            }
        }
        &:active {
            svg {
                fill: $color-primary-variant;
            }
        }
    }
}
.line-divisor {
    hr {
        border: none;
        border-bottom: solid 1px $color-dove-gray;
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 100%;
        width: 100%;
    }
    @include media-breakpoint-up('sm') {
        display: none;
    }
    @include media-breakpoint-up('md') {
        display: block;
    }
}
