.client-item{
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.07);
	flex: 1 0 200px;
	max-width: 260px;
	text-align: left;

	.info, .link{
		padding: 20px 30px;
	}

	.client-logo{
		height: 60px;

		img{
			max-height: 100%;
		}
	}

	.desc{
		color: #646464;
		font-size: .85rem;
		height: 100px;
		margin: 20px 0;
	}

	.link{
		border-top: 1px solid #EBEBEB;
		
		a{
			color: $highlight;
		}
	}
}
