.site-footer{
    background: $background;
    color: $light_text;
    padding-top: 40px;
    padding-bottom: 14px;

    @include breakpoint(small) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @include breakpoint(large) {
        padding-left: 40px;
        padding-right: 40px;
    }

    .box-container {
        @include breakpoint(small) {
            display: block;
        }

        @include breakpoint(large) {
            display: flex;
            justify-content: space-between;
        }

        &.box-top {
            margin-bottom: 20px;
        }

        &.border-top {
            border-top: solid 1px #646464;
        }
    }

    .footer-logo {
        display: block;
        width: 200px;
        height: 26px;

        @include breakpoint(small) { margin-bottom: 10px; }
        @include breakpoint(large) { margin-bottom: 20px; }
    }

    p  {
        margin    : .3em 0;
        color: $color-white;
        font-size: 16px;
    }

    .social-networks{
        display: flex;
        list-style: none;
        margin: 10px 0 0;

        li{
            margin-right: 14px;
        }

        .icon{
            width: 40px;
            height: 40px;
            display: block;
            transition: opacity $time;

            &:hover{
                opacity: .7;
            }

            svg {
                position: relative;
                top: 10px;
            }
        }
    }

    .box-links {
        a {
            color: $color-white;
            display: inline-block;
            line-height: 40px;

            @include breakpoint(small) { margin-left: 0; margin-right: 20px; }
            @include breakpoint(large) { margin-left: 20px; margin-right: 0; }

            &:hover {
                color: $color-on-primary;
            }
        }
    }

    .copy{
        color: #646464;
        font-size: .8rem;
        margin-top: 22px;
    }

    .info {
        @include breakpoint(small) { width: 272px; }
        @include breakpoint(large) { width: auto; }
    }

    .links-list {
        overflow: visible;

        li{
            a{
                margin-top: 2px;

                &:hover{
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }

}
