$headerMargin: 60px;

body {
    // padding-top: $headerMargin;

    @include breakpoint(large) {
        padding-top: 0;
    }
}

.site-header {
    $margin: 40px;
    width: 100%;
    height: 60px;
    background: $background;
    color: $light_text;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0;

    @include breakpoint(large) {
        height: 104px;
        position: relative;
    }

    &.webinar {
        @include breakpoint(large) {
            height: 60px;
            position: fixed;
        }
    }

    &.transparent {
        @include breakpoint(large) {
            background: transparent;
            position: relative;

            & ~ .site-main {
                margin-top: -($headerMargin);

                .container:first-child {
                    padding-top: $headerMargin;
                }
            }
        }
    }

    a {
        color: $color-white;
    }

    .content-wrapper {
        max-width: 100%;

        @include breakpoint(small) {
            padding: 0 16px 0;
            height: 60px
        }

        @include breakpoint(medium) {
            justify-content: flex-end;
        }

        @include breakpoint(large) {
            padding: 0 40px 0;
            height: 104px;
        }

        .right-row {
            display: flex;
        }

        .site-header-first-row {
            display: flex;
            width: 100%;
            height: 57px;
            justify-content: space-between;
            align-items: center;

            &__left {
                display: flex;
            }

            &__right {
                display: flex;
                align-items: center;
                min-width: 320px;
                justify-content: flex-end;
                margin-top: -2px;

                @media screen and(max-width:500px) {
                    min-width: auto;
                }
            }

            .action-button {
                font-size: 14px;
                span{
                    @media screen and(max-width:500px) {
                        display:none;
                    }
                }
                &:hover{
                    svg path{
                        fill:#f3652b;
                    }
                    color: #f3652b;
                }
            }
        }

        .site-header-second-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 2px;

            &__right-link {
                margin-left: 4px;
                font-size: 16px;

                @media screen and(max-width:1024px) {
                  display:none;
                }

                &:hover{
                  color: #f3652b;
                }
            }

            .arrow-right {
                border: solid #f3652b;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg) translateY(-1px);
            }
        }

        .logo-box {
            margin-right: auto;

            .azion {
                margin-right: 20px;
            }
        }
    }

    .logo {
        line-height: 1;

        @media screen and(max-width:1024px) {
            margin-right: auto;
        }

        @media screen and(max-width:730px) {
            display: block;
            margin: 0 auto;
        }
    }

    nav {
        @include breakpoint(xlarge) {
            margin-left: 104px;
        }

        ul {
        & > li > a {
            color: #FFF;
            display: block;
            padding-right: 0;
            padding-left: 0;
            position: relative;
            transition: color $time;
            white-space: nowrap;

            &::before {
                background: $highlight;
                content: "";
                position: absolute;
                bottom: -14px;
                left: 0;
                transform: scaleX(0);
                transform-origin: 0 0;
                transition: transform $time;
                width: 100%;
                height: 1px;
            }
        }

        > li > a:hover,
        > li > a.is-active,
        > li.is-active > a {
                color: $highlight;

                &::before {
                    transform: scaleX(1);
                }
            }
        }

        li {
            position: relative;
            margin-right: 60px;

            &.last-item-menu {
                margin-right: 0px;
            }

            @media screen and(max-width:1280px) {
                margin-right: 29px;
            }

            @media screen and (min-width:1281px) and (max-width:1400px) {
               margin-right: 47px;
            }

            &:hover > .submenu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        a {
            color: #fff;
            display: block;
            padding: 0;
            font-size: 16px;

            &::before {
                height: 3px;
            }
        }
    }

    .submenu {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
        color: #646464;
        font-size: 14px;
        font-weight: 500;
        list-style: none;
        margin: 0;
        padding: 8px 0;
        position: absolute;
        top: calc(100% - 10px);
        left: -2px;
        transition: all $time ease-in-out;
        width: 320px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);

        li {
            margin-right: 0;
        }

        li:hover > a {
            background: rgba($color: #eeeeee, $alpha: 0.5);
            color: $highlight;

            &.has-sub {
                svg {
                  display: block;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 12px;
                    right: 18px;
                    background: rgba($color: #c8c8c8, $alpha: 0.2);
                    border-top: 5px transparent solid;
                    border-bottom: 5px transparent solid;
                    border-left: 5px #ff734b solid;
                    margin-left: 8px;
                }

                &::before {
                    content: " ";
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    top: 5px;
                    right: 10px;
                    background: rgba(200, 200, 200, 0.2);
                    border-radius: 50%;
                }
            }
        }

        a {
          color: currentColor;
          line-height: 32px;
          padding: 0 27px;
          transition: all $time;
        }

        .submenu {
            font-weight: normal;
            top: 0;
            left: calc(100%);

            .sub-title {
                margin-top: 10px;
                font-size: 14px;
                font-weight: 500;
                padding-left: 18px;
                margin-bottom: 3px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .has-sub {
            position: relative;

            &::after {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                top: 12px;
                right: 18px;
                border-top: 5px transparent solid;
                border-bottom: 5px transparent solid;
                border-left: 5px #646464 solid;
                margin-left: 8px;
            }

            &:hover {
                &::after {
                    content: " ";
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 12px;
                    right: 18px;
                    background: rgba($color: #c8c8c8, $alpha: 0.2);
                    border-top: 5px transparent solid;
                    border-bottom: 5px transparent solid;
                    border-left: 5px #ff734b solid;
                    margin-left: 8px;
                }

                &::before {
                    content: " ";
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    top: 5px;
                    right: 10px;
                    background: rgba(200, 200, 200, 0.2);
                    border-radius: 50%;
                }
            }
        }
    }

    .search-icon {
        margin-left: 20px;
    }

    .action-button {
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;

        svg {
            @include breakpoint(small) {
                margin-left: 10px;
            }

            @include breakpoint(medium) {
                margin-right: 8px;
            }
        }
    }

    .language {
        font-size: 0.8rem;
        font-weight: 500;
        margin-left: $margin;

        @media screen and(max-width:1023px) {
            margin-left: 15px;
        }

        li + li {
            margin-left: 1em;
        }

        a {
            padding: 0;
            transition: color $time;
        }

        .active,
        a:hover {
            color: $highlight;
        }
    }

    .btn {
        margin-bottom: 0;
        margin-left: 20px;
    }

    .btn-login {
        background: #646464;
        color: #fff;
        margin-left: 22px;
        width: 83px;
        padding: 10px 0;
        border-radius: 4px;

        &:hover {
            background: #F3652B;
        }
    }

    .btn-menu {
        position: relative;
        width: 34px;
        height: 40px;
        padding-left: 14px;
        margin-left: 6px;

        span {
            background: #fff;
            display: block;
            margin: 3px auto;
            transition: all $time;
            width: 18px;
            height: 2px;
        }

        &[aria-expanded="true"] {
            span {
                &:nth-child(1) {
                    opacity: 0;
                }
                &:nth-child(2) {
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(3px, -4px);
                }
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}
